<div class="container">
	<div class="row">
		<div class="col-12">
			<h3>Flight Booking List</h3>
<% if user_signed_in? && current_user.role.code == "admin" %>
<%= link_to 'Book a Ticket',new_booking_path , class: "btn btn-outline-primary btn-sm" %><br /><br />	
<% end %>

<%= form_for "",url: bookings_path, role: "search", method: :get do %>
  <%= text_field_tag :search, @search_term, placeholder: "Search..",class: "form-control" %>
<% end %>
<br><br>  


<table class="table table-striped table-hover table-bordered" >
	<tr>
		<th>Passenger's Name</th>
		<th>Ticket Price</th>
		<th>Source</th>
		<th>Destination</th>
		<th>age</th>
		<th>phone</th>
		<th>Address</th>
		<th>Class Type</th>
		<th>Passport_no</th>
		<th>Email</th>
		<th>Ticket Id</th>
		<th colspan="3">Actions</th>
	</tr>
<% @books.each do |b| %>
<% if current_user.role.code == 'admin' || b.user_id == current_user.id %>
	<tr>
		<td><%= b.name_of_passenger %></td>
		<td><%= b.price %></td>
		<td><%= b.source %></td>
		<td><%= b.destination %></td>
		<td><%= b.age %></td>
		<td><%= b.phone %></td>
		<td><%= b.address %></td>
		<td><%= b.class_type %></td>
		<td><%= b.passport_no %></td>
		<td><%= b.email %></td>
		<td><%= b.ticket_id %></td>
		<td><%= link_to 'Show',booking_path(b),class: "btn btn-outline-info btn-sm" %></td>
		<% if user_signed_in? && current_user.role.code == "admin" %>
		<td><%= link_to 'Edit',edit_booking_path(b),class: "btn btn-outline-warning btn-sm" %></td>
		<td><%= link_to 'delete',booking_path(b),class: "btn btn-outline-danger btn-sm",
		method: :delete, data: { confirm: "Are you Sure?? " } %></td>
		<% end %>
	</tr>
	<% end %>
	<% end %>
	
</table>
		</div>
	</div>
</div>