<h3><%= @user.full_name %></h3>

<p><strong>Admin:</strong><%= @user.admin? %></p>

<p><%= @user.role.name %></p>

<h4>Profile</h4>

<p><%= @user.name %></p>

<% if current_user.id == @user.id %>

  <%= link_to 'Edit My Profile', edit_user_path(current_user),class: 'btn btn-primary' %>

<% end %>